__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

data/raw/*
data/processed/*
outputs/figures/*
outputs/tables/*
outputs/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep
!outputs/models/.gitkeep
